<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Petify</title>
    <link rel="stylesheet" type="text/css" href="/profile.css/Homepage.css">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-links">
            <a href="/about" class="nav-link">About</a>
            <a href="/services" class="nav-link">Services</a>
            <a href="/contacts" class="nav-link">Contact</a>
        </div>
    </nav>



    <div class="homepage-container">
        <h1>Welcome to Petify 🐾</h1>
        <p>Your one-stop hub for pets and pet lovers!</p>
        <a href="/profile" class="homepage-button">Proceed</a>
        

    </div>
</body>
</html>
